@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.header {
  height: 5rem;
  background-color: #e6728d;
  color: #765b53;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
